.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: auto;
    width: 50%;
}

.social-media svg {
    margin-left: 1rem;
    color: #4CAF50;
    font-size: 1.25rem;
}

